@{
    ViewData["Title"] = "Alterar Password";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Conta</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Conta</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header">Alterar Password</h5>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form method="post" asp-action="Password">
                            <div class="col-12 col-md-9">
                                <p class="text-danger">
                                    @ViewBag.AltErro
                                </p>
                                <div class="form-group">
                                    <label for="ActPass">Password Atual</label>
                                    @Html.TextBox("ActPwd", ViewData["ActPass"], new { @class = "form-control", @id = "ActPass", @type = "password" })
                                    <div class="text-left">
                                        <input type="checkbox" onclick="HideShowPass()">&nbsp; Mostrar Password
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="NewPass">Nova Password</label>
                                    @Html.TextBox("NewPwd", ViewData["NewPass"], new { @class = "form-control", @id = "NewPass", @type = "password" })
                                    <small class="form-text text-danger">@ViewBag.NewPassError</small>
                                    <div class="text-left">
                                        <input type="checkbox" onclick="HideShowPass1()">&nbsp; Mostrar Password
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="ConfPass">Confirmar Password</label>
                                    @Html.TextBox("Confpwd", ViewData["ConfPass"], new { @class = "form-control", @id = "ConfPass", @type = "password" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="ml-auto mr-1 mr-md-2 mr-lg-3">
                                    <a asp-action="index" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Voltar</a>
                                    <button type="submit" class="btn btn-danger">Alterar Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function HideShowPass() {
        var x = document.getElementById("ActPwd");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    function HideShowPass1() {
        var x = document.getElementById("NewPwd");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
@if (ViewBag.AltPwdError != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.error('@ViewBag.AltPwdError')
        });
    </script>
}